#givePage{
  @include page-border($give-color);

  h1{
    font-weight: bold;
  }

  div.small-12>img{
    margin-bottom: rem-calc(20);
  }

  form{
    max-width: rem-calc(300);
    text-align: center;
    margin-bottom: rem-calc(20);
    input{
      display: inline-block;
    }

  }

  blockquote{
    max-width: rem-calc(300);
    color: #000000;
  }
}