$about-color: rgb(253,189,38);
$proj-color: rgb(0, 147, 208);
$news-color: rgb(16, 134, 110);
$cal-color: rgb(213, 42, 39);
$join-color: rgb(153, 73, 155);
$blog-color: rgb(170, 208, 55);
$give-color: rgb(220,97,38);

nav#largeNav{
  ul{
    list-style-type: none;
    max-width: rem-calc(1200px);

    margin:0 auto;

    li{
      display: inline-block;


      a{
        display: inline-block;
      }

      img{
        margin:rem-calc(10px);
      }
    }
  }
}

h1{
  font-weight: bold;
  text-align: center;
}

.middle{
  margin-left: auto;
  margin-right:auto;
}

.small-center, .center{
  text-align: center;
}

p{
  text-align: justify;
}

img.block{
  display: block;
  max-width: 300px;
}

@include embed-responsively;

.off-canvas-list, #largeNav {
  li {
    a {
      &:hover {
        background-color: #fff;
      }

      &#about:hover {
        background: $about-color;
      }

      &#proj:hover {
        background: $proj-color;
      }

      &#news:hover {
        background: $news-color;
      }

      &#cal:hover {
        background: $cal-color;
      }

      &#join:hover {
        background: $join-color;
      }

      &#blog:hover {
        background: $blog-color;
      }

      &#give:hover {
        background: $give-color;
      }
    }
  }
}

.move-right .left-off-canvas-menu{
  padding-right:rem-calc(3);
}


.tab-bar-section .logo {
  display: block;
  margin-top: rem-calc(5);
  height: rem-calc(44);
  width: rem-calc(81);
  background-size: cover;
  background-image: url("../img/logo.jpg");
}

footer{
  .social{
    max-width: rem-calc(250px);
    @include justify-inline-block;

    &>a{
      display:inline-block;
      height:rem-calc(25);
      width:rem-calc(25);
      background-size: cover;
      margin: 0 auto;
    }
  }

  .footer-site-nav{
    max-width: rem-calc(125px);
    margin-bottom: rem-calc(15px);
    @include justify-inline-block;

  }

  .facebook{
    background-image: url("../img/icons/facebook.png");
  }

  .twitter{
    background-image: url("../img/icons/twitter.png");
  }

  .youtube{
    background-image: url("../img/icons/youtube.png");
  }

  .instagram{
    background-image: url("../img/icons/instagram.png");
  }

  .pinterest{
    background-image: url("../img/icons/pinterest.png");
  }

  .flickr{
    background-image: url("http://localhost:3003/img/icons/flickr.png");
  }
}

.first-content{
  margin-top: rem-calc(30px);
}

@media #{$medium-only}{
  h1{
    font-size: 2rem;
  }
}

@media #{$large-up} {
  .small-center{
    text-align: left;
  }
}
