#newsPage{
  @include page-border($news-color);

  h2{
    text-align: justify;
    @extend .middle;
  }

  .news-item{
    .news-image{
      text-align: center;
    }

    margin-bottom: rem-calc(20px);
}

  @media #{$medium-up}{
    h2{
      text-align: left;
    }

    img{
      margin-top: rem-calc(20px);
    }
  }

  @media #{$large-up} {
    .news-item img{
      min-height: 6rem;
      width: auto;
    }
  }

}