#projPage{
  @include page-border($proj-color);

  .project{
    @extend .middle;
    position: relative;
    @media #{$medium-up}{
      width: rem-calc(312px);
    }
    margin-bottom: rem-calc(25px);

  }

  .project{
    span{
      font-size: 1.5rem;

      @media #{$medium-up} {
        font-size: rem-calc(30pt);
      }

      position: absolute;
      bottom: rem-calc(-1px);
      right: rem-calc(-1px);
      text-align: center;
      display: block;
      width: 101%;
      background: #ffffff;
      opacity: 0.7;
      height: rem-calc(60px);
      padding-top: rem-calc(10px);
    }

    &:hover span{
      display: none;
    }

    a:visited{
      margin:0;
    }
  }
}