---
title: about
---
<div id="aboutPage">
    <h1 class="small-center">about</h1>

    <div class="row">
        <div class="small-12">
            <img src="img/about.jpg"/>
        </div>
    </div>
    <div class="row mission">
        <div class="medium-2 medium-side-title column"><h2>mission</h2></div>
        <div class="medium-8 column end">
            <p>One Stone makes students better leaders and the world a better place.</p>
        </div>
    </div>
    <div class="row overview">
        <div class="medium-2 medium-side-title column">
            <h2>overview</h2>
        </div>
        <div class="medium-7 column">

            <p>One Stone is a student-run, not-for-profit organization that combines service and
                charitable giving with experiential learning to fulfill community needs in a way that transforms both
                the recipient and student providers of the service. The organization's name is derived from a simple,
                powerful analogy. All it takes is "one stone" thrown into a river to affect its flow and change its
                course. In the same way, acts of service lead to extraordinary change. It starts with one!</p>
        </div>
        <div class="medium-3 column">
            <img class="middle" src="img/values.jpg" />
        </div>
    </div>
    <div class="row leadership">
        <div class="medium-2 medium-side-title column">
            <h2>leadership</h2>
        </div>
        <div class="medium-5 column">
            <p>Students from Southwest Idaho high schools and adult volunteers serve on the Board of
                Directors and provide the overall leadership and management of One Stone. The Board has three standing
                committees: External Relations, Operations, and Governance and Planning. Pursuant to One Stone's bylaws,
                the Board and Committees must be comprised of at least two-thirds students. Under the direction of the
                Board of Directors, an adult Executive Director is responsible for the daily management and operation of
                One Stone. One Stone also has an adult advisory group that provides advice to the Board of Directors and
                Executive Director relating to the business and programs of One Stone.</p>
        </div>
        <div class="medium-5 columns">
            <p>Through student-developed, experiential service-learning projects, students learn by
                active participation in intentional service experiences that address real-world needs, provide
                structured opportunities for learning and reflection, and enhance what is taught in school by extending
                student learning beyond the classroom and into the community. Through this process, students learn and
                practice critical 21st century skills: leadership, teamwork, problem solving, confidence, creativity,
                communication and presentation skills, critical thinking, and awareness of community issues and
                challenges.</p>
        </div>
    </div>
    <div class="row">
        <div class='medium-12'>
            <div class="embed-container">
                <iframe src='http://www.youtube.com/embed/X_tAstOGlyE' frameborder='0' allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>