<div id="calPage">
    <div class="row">
        <div class="small-12 column">
            <h1>calendar</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12">
            <div class='embed-container hide-for-medium-up'>
                <iframe src='https://www.google.com/calendar/embed?mode=AGENDA&title=One%20Stone&height=800&wkst=1&bgcolor=%23FFFFFF&src=e4dqbhbn8613o7s1v6gb4ljtto%40group.calendar.google.com&color=%2342104A&src=m9v9k028atv5f81adkhigtuqdg%40group.calendar.google.com&color=%236B3304&src=kgm8o1600csq9fvf4d5ebut4d0%40group.calendar.google.com&color=%238C500B&src=u79hbdnsuhjpdv034mgkqf66o4%40group.calendar.google.com&color=%232952A3&src=7tcqk9e4kbec9q12kajvk5ifgk%40group.calendar.google.com&color=%23125A12&src=jfv6gbbvohphl53pohlmhk75b4%40group.calendar.google.com&color=%23856508&src=en.usa%23holiday%40group.v.calendar.google.com&color=%23691426&ctz=America%2FDenver'
                        style=' border-width:0 ' frameborder='0' scrolling='no'></iframe>
            </div>
            <div class='embed-container hide-for-small-down'>
                <iframe src='https://www.google.com/calendar/embed?title=One%20Stone&height=800&wkst=1&bgcolor=%23FFFFFF&src=e4dqbhbn8613o7s1v6gb4ljtto%40group.calendar.google.com&color=%2342104A&src=m9v9k028atv5f81adkhigtuqdg%40group.calendar.google.com&color=%236B3304&src=kgm8o1600csq9fvf4d5ebut4d0%40group.calendar.google.com&color=%238C500B&src=u79hbdnsuhjpdv034mgkqf66o4%40group.calendar.google.com&color=%232952A3&src=7tcqk9e4kbec9q12kajvk5ifgk%40group.calendar.google.com&color=%23125A12&src=jfv6gbbvohphl53pohlmhk75b4%40group.calendar.google.com&color=%23856508&src=en.usa%23holiday%40group.v.calendar.google.com&color=%23691426&ctz=America%2FDenver'
                        style=' border-width:0 ' frameborder='0' scrolling='no'></iframe>
            </div>
        </div>
    </div>
</div>