<div id="contact">
    <div class="row">
        <div class="small-12 column">
            <h1 class="center">contact us</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12">
            <img src="img/contact.jpg"/>
        </div>
    </div>
    <div class="row first-content">
        <div class="medium-6 columns">
            <h2 class="center">email us</h3>

            <form>
                <div class="row">
                    <div class="small-12 columns">
                        <label>
                            Name*
                            <input type="text" required/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 columns">
                        <label>
                            Email*
                            <input type="email" required/>
                        </label>
                    </div>
                    <div class="medium-6 columns">
                        <label>
                            Phone Number
                            <input type="tel"/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 columns">
                        <label>
                            Subject*
                            <input type="text" required/>
                        </label>
                    </div>
                    <div class="medium-6 columns">
                        <label>
                            Business
                            <input type="text"/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>
                            Message*
                            <textarea required></textarea>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-2 columns">
                        <input class="button small" type="submit" value="Send"/>
                    </div>
                </div>
            </form>

        </div>
        <div class="medium-6 columns" id="contact-info">
            <div class="row">
                <div class="small-12">
                    <h2 class="center">other ways to reach us</h2>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <h3>Address:</h3>
                    <br />
                    One Stone, Inc.
                    <br />
                    7025 W. Emerald, Suite 200
                    <br />
                    Boise, Idaho 83704
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <h3>Phone:</h3> 208.477.1663
                    <br />
                    <h3>Email:</h3> tpoppen@onestone.org
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <h3>Executive Director:</h3> Teresa Poppen
                    <br />
                    <h3>Program Director:</h3> Ashlee Greenwood
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <h3>Community Engagement Director:</h3> Neva Geisler
                    <br />
                    <h3>Email:</h3> neva@onestone.org
                </div>
            </div>
        </div>
    </div>
</div>
