---
title: Home
styles: <link rel="stylesheet" href="slick/slick.css" />
scripts: <script src="slick/slick.min.js"></script>
         <script src="js/home.js"></script>
---
<div id="home">
    <div class="slider">
        <div><img src="img/splash/splash_1.jpg" /></div>
        <div><img src="img/splash/splash_2.jpg" /></div>
    </div>
</div>





