---
title: Home
styles: <link rel="stylesheet" href="slick/slick.css"/>
scripts: <script src="slick/slick.min.js"></script><script src="js/home.js"></script>
---
<div id="home">
    <div class="slider row">
        <div><img src="img/splash/splash_1.jpg"/></div>
        <div><img src="img/splash/splash_2.jpg"/></div>
    </div>

    <div class="row">
        <div class="large-12 column">
            <h1 class="center">welcome</h1>

            <p>One Stone is a student-run, not-for-profit organization that combines service and charitable giving with
                experiential learning to fulfill community needs in a way that transforms both the recipient and student
                providers of the service. The organization’s name is derived from a simple, powerful analogy. All it
                takes is “One Stone” thrown into a river to affect its flow and change its course. In the same way, acts
                of service lead to extraordinary change. At One Stone, it starts with One!</p>
        </div>
    </div>
    <div class="row">
        <div class="medium-4 columns medium-offset-2">
            <h1 class="small-center">what's news</h1>
            <ul class="middle">
                <li><a href="#">This is a story</a></li>
                <li><a href="#">This is a story</a></li>
                <li><a href="#">This is a story</a></li>
            </ul>
        </div>
        <div class="medium-4 columns">
            <h1 class="small-center">sign up</h1>
            <ul class="middle">
                <li><a href="#">Sign up now!</a></li>
                <li><a href="#">Sign up now!</a></li>
                <li><a href="#">Sign up now!</a></li>
            </ul>
        </div>
    </div>
</div>







