---
title: join us
---
<div id="joinPage">
    <h1 class="center">join us</h1>

    <div class="row">
        <img class="small-12" src="img/join.jpg">
    </div>
    <div class="row">
        <div class="large-12 column">
            <p class="middle">We are always looking for students who want to get involved. Whether you want to help out
                with a project,
                help plan and lead a project, or apply to be on the One Stone Board of Directors, we have a place for
                you. One Stone is student run so we offer a completely different kind of service. Students lead
                everything from how the organization invests funds, to marketing strategies, to what experiential
                service projects we undertake. Students can learn how a business works, how to plan an event, and create
                and lead a service project that they are passionate about. Students connect with project recipients and
                experience service projects that are fun and truly moving.</p>
        </div>
    </div>
    <div class="row">
        <div class="large-4 column">
            <h2 class="center">volunteer</h2>

            <p class="middle">Experience a One Stone service project. Give us your information. Click here to join our mailing list and
                get involved. Get updates, view our upcoming projects, and register to be a part of the fun.</p>
        </div>
        <div class="large-4 column">
            <h2 class="center">lead</h2>

            <p class="middle">Apply to be on the One Stone Project Team. We meet weekly to plan and lead all of our experiential
                service projects. Click here to send us an email to start the application process.</p>
        </div>
        <div class="large-4 column">
            <h2 class="center">commit</h2>

            <p class="middle">Be a part of our team. We do lots of activities outside of our projects (though our projects are a
                blast), from boating to barbecues, and have a great time. Join a group of high school students from
                throughout the Treasure Valley who care about making a difference!</p>
        </div>
    </div>
</div>