---
title:One Stone Partners with Idaho Youth Ranch for Alternative Spring Break Project: Break Through
---
<div id="newsDetail">
    <div class="row">
        <div class="medium-2 column">
            <img class="middle" src="img/news/breakthrough.jpg"/>
        </div>
        <div class="medium-10 column">
            <h1 class="small-center">One Stone Partners with Idaho Youth Ranch for Alternative Spring Break Project: Break
                Through</h1>
        </div>
    </div>

    <div class="row small-center">
        <div class="column medium-12">
            <p>
                One Stone is teaming up with the Idaho Youth Ranch for Break Through 2014, an alternative spring break
                project
                for southwest Idaho high school students. This year’s project, March 28 – 29, will be staged at the
                Idaho Youth
                Ranch’s namesake Ranch Campus outside of Rupert.</p>

            <p>Bacon ipsum dolor sit amet beef landjaeger meatloaf hamburger doner, beef ribs pork spare ribs leberkas
                biltong.
                Shoulder rump biltong short loin ham hock doner strip steak corned beef beef ribs salami ham hamburger.
                Swine
                prosciutto andouille rump. Jerky meatloaf flank, tail brisket salami jowl rump boudin.

            <p>Tenderloin shankle jowl venison beef ribs ribeye pig, bacon meatball ground round leberkas pork chop ball
                tip.
                Leberkas sirloin tri-tip ball tip tongue ham doner boudin. Pig landjaeger pancetta prosciutto pork loin
                bresaola
                short ribs pastrami flank. Prosciutto spare ribs beef ribs, beef bresaola tenderloin filet mignon
                fatback tongue
                brisket. Andouille boudin flank ball tip rump pork chuck porchetta corned beef. Shank andouille strip
                steak
                kevin, ground round spare ribs shankle jowl fatback sirloin.</p>

            <p>Strip steak sirloin kielbasa drumstick venison short ribs. T-bone pork belly swine beef ribs. Doner beef
                ribs
                pastrami bresaola, spare ribs tail chicken ham tenderloin short ribs. Pastrami t-bone meatball
                prosciutto
                turducken flank doner corned beef shankle ground round, frankfurter andouille pork loin landjaeger
                shank. Flank
                pork chop biltong, rump prosciutto kielbasa jowl. Meatball ball tip ground round tri-tip swine. T-bone
                tri-tip
                bacon filet mignon kevin fatback prosciutto.</p>

            <p>Turkey bresaola tail, brisket beef ribs spare ribs ham hock pork jerky salami swine pastrami. Rump ribeye
                tri-tip ham hock pastrami jerky, doner short ribs flank sausage. Shank tail corned beef, bacon jerky
                jowl
                shoulder landjaeger. Biltong short loin shank andouille, drumstick shankle fatback brisket tenderloin
                landjaeger
                doner tongue chuck. T-bone ribeye flank pork loin tenderloin tri-tip meatball porchetta beef ribs
                leberkas short
                ribs. Porchetta ball tip capicola bacon, swine spare ribs leberkas sausage kevin jowl.</p>

            <p>Jerky frankfurter meatball sausage beef turkey, ball tip filet mignon shankle ribeye ham fatback. Tongue
                ribeye
                porchetta beef short loin boudin strip steak brisket kevin pork andouille tri-tip turducken meatloaf.
                Chuck
                bresaola pork loin, ground round pig ribeye ham tri-tip drumstick. Landjaeger kielbasa andouille flank,
                ham
                prosciutto jowl bresaola.</p></div>
    </div>
</div>