---
title: news
---
<div id="newsPage">
    <h1 class="center">news</h1>

<div class="news-item row">
    <div class="news-image medium-2">
        <img src="img/news/breakthrough.jpg"/>
    </div>
    <div class="medium-10">
        <h2><a href="">One Stone Partners with Idaho Youth Ranch for Alternative Spring Break Project: Break
            Through</a></h2>

        <p>One Stone is teaming up with the Idaho Youth Ranch for Break Through 2014, an alternative spring break
            project for southwest Idaho high school students. This year’s project, March 28 – 29, will be staged at
            the Idaho Youth Ranch’s namesake Ranch Campus outside of Rupert.</p>
    </div>
</div>
</div>