---
title: news
---
<div id="newsPage">
    <h1 class="small-center">news</h1>

    <div class="news-item row">
        <div class="news-image medium-2">
            <img src="img/news/breakthrough.jpg"/>
        </div>
        <div class="medium-10">
            <h2><a href="newsDetail.html">One Stone Partners with Idaho Youth Ranch for Alternative Spring Break Project: Break
                Through</a></h2>

            <p>One Stone is teaming up with the Idaho Youth Ranch for Break Through 2014, an alternative spring break
                project for southwest Idaho high school students. This year’s project, March 28 – 29, will be staged at
                the Idaho Youth Ranch’s namesake Ranch Campus outside of Rupert.</p>
        </div>
    </div>
    <div class="news-item row">
        <div class="news-image medium-2">
            <img src="img/news/DiscoverBook.jpg"/>
        </div>
        <div class="medium-10">
            <h2><a href="">Nampa Receives New Tool to Fight Childhood Obesity</a></h2>

            <p>The City of Nampa received a new tool for their campaign against childhood obesity: a copy of a One
                Stone's Discover Book for every 5th grader. Discover Book is a workbook promoting healthy choices and
                positive self-image. The book was written and illustrated by One Stone students as a component to the
                Explore Camp, a weeklong camp for St. Luke's YEAH! program participants. In addition to writing the
                book, One Stone students helped design, plan, and implement programming for the camp.</p>

            <p>The distribution was made possible through One Stone's partnership with the St. Luke's YEAH! program
                offered through St. Luke's Health Systems.</p>
        </div>
    </div>
    <div class="news-item row">
        <div class="news-image medium-2">
            <img src="img/news/NewsNEva.jpg"/>
        </div>
        <div class="medium-10">
            <h2><a href="">One Stone Hires Community Engagement Director</a></h2>

            <p>One Stone announced the hire of Neva Geisler, who will serve as One Stone’s community engagement
                director. Geisler will direct community engagement and outreach strategies and advise on Stone
                Projects.</p>

            <p>Geisler, a Boise native, has more than 15 years of experience in the nonprofit and higher education
                sector, most recently with Create Common Good and United Way of Treasure Valley. Prior to joining the
                One Stone staff, Geisler served on the organization’s board of directors and as an adult coach.</p>
        </div>
    </div>
</div>