---
title: projects
---
<div id="projPage">
    <div class="row">
        <div class="small-12">
            <h1 class="center">projects</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 column">
            <p>Experiential service projects are what we do. At One Stone, we meet at least once a week to create
                and plan projects that we feel would best benefit the community and fulfill our personal desires to
                serve. Our
                projects are organized, from conception to clean up, by high school students. Check out what we've
                done!</p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 column">
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
                <li>
                    <div class="project">
                        <img src="img/projects/p16.jpg"/>
                        <span class="project_title">P16 Video</span>
                    </div>
                </li>


                <li>
                    <div class="project">
                        <img src="img/projects/dayOfKnights.jpg"/>
                        <span class="project_title">Day of Knights</span>
                    </div>
                </li>


                <li>
                    <div class="project">
                        <img src="img/projects/reach.jpg"/>
                        <span class="project_title">Reach</span>
                    </div>
                </li>


                <li>
                    <div class="project">
                        <img src="img/projects/think4ward.jpg"/>
                        <span class="project_title">Think 4-Ward Challenge</span>
                    </div>
                </li>


                <li>
                    <div class="project">
                        <a href="projectDetail.html">
                            <img src="img/projects/breakThrough12.jpg"/>
                            <span class="project_title">Break Through Marsing</span>
                        </a>
                    </div>
                </li>

                <li>
                    <div class="project">
                        <img src="img/projects/p16.jpg"/>
                        <span class="project_title">P16 Video</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>