<div id="projectDetail">
    <div class="row">
        <div class="small-12 column">
            <img class="projLogo middle" src="img/projects/logos/breakThrough12.jpg"/>
        </div>
    </div>

    <div class="row">
        <div class="small-12">
            <div class='embed-container'>
                <iframe src='http://www.youtube.com/embed/fczr3edutmM' frameborder='0' allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row">
        <h3>description:</h3>

        <p>
            <emphasis>"Break Through Marsing: small pieces . . . big picture"</emphasis>
            was the 2012 version of an annual alternative spring break project opportunity for Treasure Valley high
            school
            students. Each year, nearly a hundred students from as many as fourteen different schools participate in the
            two-day, hands-on, labor-intensive project. Student participants break ground and build community together.
            Break Through 2012 was in Marsing, a small, economically struggling, rural Idaho community. The project
            included
            special elements relating to Taylor Sauer, a recent graduate of Marsing High School who was killed while
            texting
            and driving. Among other things, student volunteers: painted a gym foyer, locker room, and bathrooms; broke
            ground on, and paved a path to, “Taylor’s Corner,” an outdoor classroom dedicated to Ms. Sauer at the
            Marsing
            Elementary School; designed and painted a mural near Taylor’s Corner emphasizing the values of the Marsing
            School District; built and stained benches for the Terry Reilly Medical & Mental Health Clinic in Marsing
            and
            the City of Marsing; cleaned and readied two community gardens; and spread bark and gravel and planted a One
            Stone tree in Island Park (a large community park overlooking the Snake River in Marsing). Evening
            activities
            included a community carnival hosted by One Stone and a teamwork extravaganza designed to create a close
            bond
            between the high school volunteers. Students learned about the dangers of using social media while driving,
            project management, Idaho agriculture, and issues affecting small towns.
        </p>
        <h3>focus:</h3>

        <p class="center">Community, “small pieces…big picture.”</p>

        <h3>dates:</h3>

        <p class="center">April 1 and 2, 2012</p>

        <h3>inspiration:</h3>

        <p>Break Through Marsing was the fifth annual alternative spring break in the Treasure Valley. With the help of
            nearly 100 local area high school students, One Stone focused on the idea of community - "small pieces, big
            picture.”</p>

        <h3>participants:</h3>

        <p>One Stone project team, United Way of Treasure Valley, Tates Rents, and nearly 100 local high school students
            from 13 high schools across the Treasure Valley</p>

        <h3>recipients:</h3>

        <p>The City of Marsing, Idaho residents, Taylor’s Corner, Marsing High School</p>

        <h3>outcome:</h3>

        <p>Hundreds of hours were spent revitalizing the community of Marsing. All projects were completed on time! The
            weekend wrapped up with a ceremonial donation of a tree to the Island Park arboretum, emphasizing the theme
            of
            community with a quote by Nelson Henderson, "The true meaning of life is to plant trees under whose shade
            you do
            not expect to sit."</p>

        <h3>sponsors:</h3>

        <p>One Stone, United Way of Treasure Valley, Tates Rents, Marsing Lions Club, and Trailers Plus</p>
    </div>
</div>
