<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>
    <link href="//cloud.webtype.com/css/0195b54d-e4d1-4c26-8456-d442a7984ea9.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/app.css"/>
    {{{styles}}}
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>
<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>

            <section class="middle tab-bar-section">
                <a class="logo" href="home.html"></a>
            </section>


        </nav>

        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><a href="about.html" id="about"><img src="img/icons/about.png"/></a></li>
                <li><a href="#contact" id="proj"><img src="img/icons/proj.png"/></a></li>
                <li><a href="#contact" id="news"><img src="img/icons/news.png"/></a></li>
                <li><a href="#contact" id="cal"><img src="img/icons/cal.png"/></a></li>
                <li><a href="join.html" id="join"><img src="img/icons/join.png"/></a></li>
                <li><a href="#contact" id="blog"><img src="img/icons/blog.png"/></a></li>
                <li><a href="give.html" id="give"><img src="img/icons/give.png"/></a></li>
            </ul>
        </aside>
        <section class="main-section">
            {{>body}}
        </section>
        <footer>

            <nav class="middle footer-site-nav">
                <a href="home.html">Home</a>
                <a href="#">Contact</a>
            </nav>

            <nav class="social middle">
                <a class="facebook" href="https://facebook.com/onestoneidaho" target="_blank"></a>
                <a class="twitter" href="https://twitter.com/onestoneidaho" target="_blank"></a>
                <a class="youtube" href="https://youtube.com/onestoneidaho" target="_blank"></a>
                <a class="instagram" href="https://instagram.com/onestoneidaho" target="_blank"></a>
                <a class="pinterest" href="https://pinterest.com/onestoneinc" target="_blank"></a>
                <a class="flickr" href="https://www.flickr.com/photos/64436198@N04/" target="_blank"></a>
            </nav>

            <p class="middle center">&copy; 2014 One Stone, Inc</p>
        </footer>

        <a class="exit-off-canvas"></a>

    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/foundation/foundation.offcanvas.js"></script>
<script src="js/Site.js"></script>
{{{scripts}}}
</body>
</html>
